<footer class="site-footer" id="idi-info">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col  footer-col-1">
        <ul class="contact-list">
          <li>Contact us:</li>
          <li><a class="plain-link" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col  footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            <a class="plain-link" href="https://github.com/{{ site.github_username }}">
              <i class="fa fa-github fa-lg"></i>
              <span class="username">{{ site.github_username }}</span>
            </a>
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            <a href="https://twitter.com/{{ site.twitter_username }}">
              <i class="fa fa-twitter fa-lg"></i>
              <span class="username">{{ site.twitter_username }}</span>
            </a>
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col  footer-col-3">
        <p>
          <span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">IDInteraction</span> is licensed under a <a class="plain-link" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
          <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/80x15.png" /></a>
        </p>
      </div>
    </div>

    <div class="footer-ack">
      <img id="epsrc-logo-footer" src="/img/epsrc_colour_low.jpg" alt="EPSRC logo">
      <img id="uom-logo-footer" src="/img/uom_white_background.png" alt="University of Manchester logo">

      <p>
        IDInteraction is funded by the Engineering and Physical Sciences Research Council, UK through grant agreement number
        <a class="plain-link" href="http://gow.epsrc.ac.uk/NGBOViewGrant.aspx?GrantRef=EP/M017133/1">EP/M017133/1</a>.
      </p>
    </div>

  </div>

</footer>
