<!DOCTYPE html>
<html id="home">

  {% include head.html %}
	
  <body>

    {% include header.html %}

	<div class="page-content home-header">
		<h1>Capturing indicative usage models in software for implicit device interaction</h1>

		<a href="/about/" class="big-button projects-link">
			Find out more <i class="fa fa-arrow-circle-right"></i>
		</a>
	</div>

    <div class="page-content home-content" id="projects">
      <div class="wrapper">
        {{ content }}
      </div>
    </div>

	{% include footer.html %}

  </body>

</html>
